.container {
	position: relative;
	width: 4.5rem;
	height: 4.5rem;

	.animated-background {
		position: absolute;
		left: 6.5px;
		top: 7px;
		width: 60px;
		height: 60px;
		border-radius: 100px;
		background-image: url("/public/loading.gif");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 57%;
	}

	.spinner {
		position: relative;
		fill: none;
		stroke-width: .4rem;
		stroke-dasharray: 210;
		stroke-dashoffset: 210;
		stroke-linecap: round;
		transform: rotateZ(-90deg);
		animation: spin 1.5s linear infinite;
	}

	.home {
		stroke: #f9db5c;
	}

	.about {
		stroke: #ff744c;
	}

	.search {
		stroke: #7df02f;

	}

	.screener {
		stroke: #73f7ff;
	}
}

@keyframes spin {
	35% {
		stroke-dashoffset: 120;
		transform: rotateZ(-40deg);
	}

	80% {
		stroke-dashoffset: 210;
		transform: rotateZ(275deg);
	}
}